:root {
    --font: "acumin-pro-wide", sans-serif;
    --text: #282D35;
    --input: #00866e;
    --input_focused: #383f4d;
    --input_active: #21252e;
    --input_hover: #00a189;
    --primary: #9099A2;
    --secondary: #607993;
    --tertiary: #96858F;
    --quaternary: #D5D5D5;
    --headerVH: 5vh;
    --footerVH: 5vh;
    --bodyVH: 90vh;
}

body {
    background-image: url("../images/Books_Blurred.jpg");
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font);
    color: var(--text);
    height: 100vh;
    width: 100vw;
}

.sHeaderLogin {
    background-color: var(--primary);
}

.sHeaderLogin > table{
    color: var(--text);
    font-family: var(--font);
    font-style: normal;
    font-weight: 200;
    font-size: 4vh;
}
.headerTable {
    width: 100%;
    height: 5vh;
}

.sFooterBas {
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--footerVH);
    font-size: 4vh;
    width: 100vw;
    color: var(--text);
}

.sTexteFooter{
    background-color: var(--primary);
    font-family: var(--font);
    font-style: normal;
    font-weight: 200;
    font-size: 18pt;
    margin: 0;
    padding: 10px;
}

td {
    vertical-align: top;
}

.d1 {
    text-align: left;
}

.d2 {
    text-align: center;
}

.d3 {
    text-align: right;
}

select {
    background-color: var(--input);
    border-color: var(--text);
    color: var(--text);
    height: 2.5vh;
}

table select {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: var(--font);
    display: block;
    border-color: var(--text);
    text-align: center;
    background-color: var(--input);
    color: var(--text);
}

button:focus {
    font-family: var(--font);
    background-color: var(--input_focused);
    color: white;
}

button:active {
    font-family: var(--font);
    background-color: var(--input_active);
    color: white;
}

button:hover {
    font-family: var(--font);
    background-color: var(--input_hover);
    color: var(--text);
}

/* ===== STICKY HEADER ===== */
/* The navigation bar */
.sHeader {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    height: var(--footerVH);
}
/* =========================== */