:root {
    --font: "acumin-pro-wide", sans-serif;
    --text: #282D35;
    --input: #00866e;
    --input_focused: #383f4d;
    --input_active: #21252e;
    --input_hover: #00a189;
    --primary: #9099A2;
    --secondary: #607993;
    --tertiary: #96858F;
    --quaternary: #D5D5D5;
    --erreur: #FF0000;
    --headerVH: 5vh;
    --footerVH: 5vh;
    --bodyVH: 90vh;
}

body {
    background: url(../images/Books_Blurred.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font);
    color: var(--text);
    height: 100vh;
    width: 100vw;
}

.sHeaderLogin {
    background-color: var(--primary);
}

.sHeaderLogin > table{
    color: var(--text);
    font-family: var(--font);
    font-style: normal;
    font-weight: 200;
    font-size: 3vh;
    padding: 0 0.5vw;
}

.headerTable {
    width: 100%;
    height: 5vh;
    table-layout: auto;
}

.headerTable td {
    height: 5vh;
}

.sFooterBas {
    align-items: center;
    display: flex;
    justify-content: left;
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--footerVH);
    font-size: 4vh;
    width: 100vw;
    color: var(--text);
    background-color: var(--primary);
}

.sTexteFooter{
    padding: 0 0.5vw;
    font-family: var(--font);
    font-style: normal;
    font-weight: 200;
    font-size: 2vh;
    margin: 0;
}

td {
    vertical-align: top;
}

.d1 {
    width: 15%;
    text-align: left;
}

.d2 {
    width: auto;
    text-align: center;
}

.d3 {
    width: 15%;
    text-align: right;
}

select {
    background-color: var(--input);
    border-color: var(--text);
    color: var(--text);
    height: 2.5vh;
}

table select {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: var(--font);
    display: block;
    border-color: var(--text);
    text-align: center;
    background-color: var(--input);
    color: var(--text);
}

button:focus {
    font-family: var(--font);
    background-color: var(--input_focused);
    color: white;
}

button:active {
    font-family: var(--font);
    background-color: var(--input_active);
    color: white;
}

button:hover {
    font-family: var(--font);
    background-color: var(--input_hover);
    color: var(--text);
}


/* Container */
.container {
    width: 80vw;
    height: 80vh;
    overflow: auto;
}

.table-container {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 80%;
    overflow: auto;
}

.table-container table {
    background-color: rgba(213,213,213,0.80);
    width: 100%;
    border-collapse: collapse;
}

.table-container table tbody tr th {
    background-color: #9099A2;
    font-weight: bold;
}

.table-container table tbody tr td {
    padding: 8px;
    border: 1px  #000000;
    display: table-cell;
    vertical-align: middle;
}

.table-container table tbody tr:nth-child(even) {
    background-color: rgba(213,213,213,0.90);
}

.sousTitre th{
    font-size: 10px;
    font-style: italic;
}

.checkbox {
    margin: auto;
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
}


.helper {
    position: absolute;
    top: -4px;
    left: -4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    color: #e7e7e7;
}

.helper:before {
    content: '';
    position: absolute;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #9099A2;
}

.helper:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid var(--tertiary);
    border-left: 2px solid var(--tertiary);
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}

input[type="checkbox"] {
    z-index: 99;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.00000001;
}

input[type="checkbox"]:checked ~ .helper::before {
    color: var(--tertiary);
}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

input[type="checkbox"]:focus + label::before {
    outline: #9099A2;
}


/* ===== STICKY HEADER ===== */
/* The navigation bar */
.sHeader {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    height: var(--headerVH);
    font-size: 1vh;
}
/* =========================== */

.sErreur {
    color: var(--erreur);
    text-decoration: underline;
    font-weight: bold;
}

.boutonsConfirm {
    display: inline-block;
    padding: 18px 39px;
    font-size: 18px;
    width: 200px;
    margin-bottom: 5vh;
    margin-top: 15px;
    margin-right: 15px;
}

th div label input[type="checkbox"] {
    background-color: orange;
}

th div label .helper {
    position: absolute;
    top: -4px;
    left: -4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
}

th div label .helper:before {
    content: '';
    position: absolute;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid black;
}

th div label .helper:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}

.stickyHeader {
    position: absolute;
}