@charset "UTF-8";

/* Body */
body {
    background: url(../../images/MD-portes-GG.png) round !important;
    background-size: 100%;
}

.fichierSelect {
    padding-top: 18px;
    display: inline-block;
    font-family: var(--font);
    border: 2px solid var(--text);
    text-align: center;
    background-color: var(--input);
    color: var(--text);
    min-width: 50%;
    width: auto;
    margin: 5vh 0 1vh 0;
}

.fichierSelect:focus {
    font-family: var(--font);
    background-color: var(--input_focused);
    color: white;
}

.fichierSelect:active {
    font-family: var(--font);
    background-color: var(--input_active);
    color: white;
}

.fichierSelect:hover {
    font-family: var(--font);
    background-color: var(--input_hover);
    color: var(--text);
}


.rouge {
    background-color: red;
}

.sessionSelect{
    margin-top: 5vh;
    display: inline-block;
    height: 5vh;
    width: 25vw;
}

.container {
    width: auto;
    min-width: 75vw;
    height: auto;
    background-color: var(--tertiary);
}

input[type="file"] {
    display: none;
    width: 100%;
    height: 100%;
}

form {
    text-align: center;
}

.boutonsConfirm {
    margin: 5vh 0;
}