@charset "UTF-8";

/* Body */
body {
    background: url(../../images/MD-portes-GG.png) round !important;
    background-size: 100%;
}

#button,
#submit,
.fichierSelect label{
    position: relative;
    display: inline-block;
    padding: 18px 39px;
    font-size: 18px;
    width: 200px;
    margin-top: 15px;
    margin-right: 15px;
}

.fichierSelect{
    padding-bottom: 3vh;
}

.fichierSelect input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.fichierSelect label {
    font-family: var(--font);
    display: block;
    border-color: var(--text);
    text-align: center;
    background-color: var(--input);
    color: var(--text);
}

.fichierSelect label:focus {
    font-family: var(--font);
    background-color: var(--input_focused);
    color: white;
}

.fichierSelect label:active {
    font-family: var(--font);
    background-color: var(--input_active);
    color: white;
}

.fichierSelect label:hover {
    font-family: var(--font);
    background-color: var(--input_hover);
    color: var(--text);
}


.rouge {
    background-color: red;
}

.sessionSelect{
    margin-top: 5vh;
    display: inline-block;
    height: 5vh;
    width: 25vw;
}