body {
    background-image: url("../../images/Books_Blurred.jpg");
    margin: 0px;
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18pt;
    color: var(--text);
}

.tableauBoutons {
    position: absolute;
    display: inline-block;
    margin: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 65vw;
    height: 85vh;
    overflow: hidden;
    background-color: var(--primary);
}

.tableauBoutons tbody {
    background-color: var(--primary);
    display: inline-block;
    padding: 3%;
    width: 90%;
    height: 100%;
    text-align: center;
}

.tableauBoutons tr {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

.tableauBoutons tr td {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.tableauBoutons tr td button {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    height: auto;
    font-size: 2.75vh;
    font-weight: bolder;
}

.tableauBoutons tr td button p {
    height: auto;
    margin: 5px;
}

.desc {
    font-style: italic;
    font-size: 1.75vh;
    font-weight: lighter;
}