@charset "utf-8";
form {
}

body {
    background-image: url("../../images/Books_Blurred.jpg");
    margin: 0px;
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18pt;
    color: #282D35;
}

.headerTable {
    width: 100%;
}

.sCreerAdmin{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 75%;
    width: 75%;
}

.sTableFormulaire {
    margin: 0 auto;
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15pt;
    /*border-radius: 10px;*/
    background-color: #9099A2;
    text-align: center;

    width: 100%;
    padding: 2.5% 5%;
}

.sTb{
    background-color: #d5d5d5;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-radius: 10px;*/
    color: #282D35;
    border: none;

    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15pt;

    width: 100%;
}

.sBtn{
    background-color: #00866e;
    padding: 5px 10px;
    /*border-radius: 10px;*/
    color: #282D35;
    margin-top: 15px;

    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15pt;

    width: 100%;
}

.sContSingleButton{
    text-align: center;
}

input{
    margin-top: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #535f75;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #535f75;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #535f75;
}