@charset "UTF-8";

/* Body */
body {
    background: url(../../images/MD-portes-GG.png) no-repeat center center fixed;
    background-size: cover;
}

#button,
#submit {
    position: relative;
    display: inline-block;
    padding: 18px 39px;
    font-size: 18px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: var(--footerVH);
    margin-right: 15px;
}

/* Container */
.container {
    width: 80vw;
    height: 80vh;
}

.container table {
    background-color: rgba(213, 213, 213, 0.80);
    width: 100%;
    border-collapse: collapse;
}

.container table tbody tr th {
    background-color: #9099A2;
    font-weight: bold;
}

.container table tbody tr td {
    padding: 8px;
    border: 1px #000000;
    display: table-cell;
    vertical-align: middle;
}

.container table tbody tr:nth-child(even) {
    background-color: rgba(213, 213, 213, 0.90);
}

th .sousTitre {
    font-size: 10px;
    font-style: italic;
}

input[type="checkbox"]:checked ~ .helper::before {
    color: var(--tertiary);
}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

input[type="checkbox"]:focus + label::before {
    outline: #9099A2;
}
