@import url("../AdminMenu/AdminMenuStyle.css");

.sTitreMenu{
    text-align: center;
    color: #9099A2;
}

.tableauBoutons{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}