.btnRef,
#submit{
    width: 100%;
    font-size: 2vh;
}

.sContReferences {
    margin: 0 0 5vh 0;
}

.divCentrage {
    background-color: var(--tertiary);
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
}

.tableauBoutons {
    width: 70vw;
    height: auto;
    background-color: transparent !important;
    padding: 4vmin;
}

.tableauBoutons tbody tr td {
    text-align: center;
}

.tableauBoutons tbody tr td form {
    text-align: center;
}

.tableauBoutons tbody tr td form button {
    display: inline-block;
    font-size: 1.5vmax;
    width: 85%;
    min-height: 6vh;
    height: auto;
    padding: 20px;
}

.tableauBoutons tbody tr td form button * {
    margin: 0;
}

#tableAffichage table tr {
    width: 75%;
}

#tableAffichage table tr td {
    width: 100%;
    padding: 1vh 0;
}

#tableAffichage {
    height: auto;
}