.btnRef,
#submit{
    width: 25%;
    font-size: 18px;
}

.sContReferences {
    margin: 0 0 5vh 0;
}

.divCentrage {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tableauBoutons {
    width: 70vw;
    height: auto;
    background-color: var(--primary);
    padding: 4vmin;
}

.tableauBoutons tbody tr td {
    text-align: center;
}

.tableauBoutons tbody tr td form {
    text-align: center;
}

.tableauBoutons button {
    display: inline-block;
    width: 75%;
}

#tableAffichage table tr {
    width: 75%;
}

#tableAffichage table tr td {
    width: 100%;
    padding: 1vh 0;
}

#tableAffichage {
    height: auto;
}