@charset "UTF-8";

body {
    background: url(../../images/MD-portes-GG.png) no-repeat center center fixed;
    background-size: cover;
}

.fichierSelect input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.fichierSelect label {
    font-family: var(--font);
    display: inline-block;
    border-color: var(--text);
    text-align: center;
    background-color: var(--input);
    color: var(--text);
    padding-left: 2vh;
    padding-right: 2vh;

}

.fichierSelect label:focus {
    font-family: var(--font);
    background-color: var(--input_focused);
    color: white;
}

.fichierSelect label:active {
    font-family: var(--font);
    background-color: var(--input_active);
    color: white;
}

.fichierSelect label:hover {
    font-family: var(--font);
    background-color: var(--input_hover);
    color: var(--text);
}

body h2 {
    color: #FFFFFF;
    text-align: left;
    font-size: 25px;
    font-family: var(--font);
    margin-bottom: 10px;
}

/* Container */
.container {
    width: 90vw;
}

.container table {
	background-color: rgba(213,213,213,0.80);
	width: 100%;
	border-collapse: collapse;
}

.container table tbody tr th {
    background-color: var(--primary);
    font-weight: bold;
}

.container table tbody tr td {
    padding: 8px;
    border: 1px  #000000;
    display: table-cell;
    vertical-align: middle;
    border-bottom-style: hidden;
}

.container table tbody tr:nth-child(even) {
    background-color: rgba(213,213,213,0.90);
}

th .sousTitre {
    font-size: 10px;
    font-style: italic;
}